<header>
<section class="flex gap-5">
    <div class="relative w-44 h-44 bg-gray-700/60 border-8 border-gray-900/80 shadow-lg rounded-full overflow-hidden">
        <img src="https://i.pinimg.com/236x/7a/97/31/7a9731ac03ecf452406b669abe800839.jpg">
    </div>
    <div class="flex flex-col justify-center gap-2">
        <p class="text-2xl sm:text-4xl text-center sm:text-left font-bold text-slate-100">Alejandro Jorba</p>
        <p class="text-slate-300 text-sm sm:text-lg max-w-xl rounded-2xl">.Net Developer</p>
        <div class="flex items-center gap-x-6">
            <a target="_blank" href="https://www.linkedin.com/in/alejandrojorba/"><button class="flex items-center text-sm gap-3 hover:bg-opacity-80 bg-indigo-500 hover:dark:bg-opacity-90 text-indigo-100 py-2 px-4 rounded-lg font-semibold"><i class="fa-brands fa-linkedin text-xl text-white"></i>LinkedIn</button></a>    
            <a target="_blank" href="mailto:alejandrojorba123@gmail.com"><button class="flex items-center text-sm gap-3 hover:bg-opacity-80 bg-indigo-500 hover:dark:bg-opacity-90 text-indigo-100 py-2 px-4 rounded-lg font-semibold"><i class="fa-brands fa-at text-xl text-white"></i>Email</button></a>
            <button (click)="descargarArchivo()" class="flex items-center text-sm gap-3 hover:bg-opacity-80 bg-indigo-500 hover:dark:bg-opacity-90 text-indigo-100 py-2 px-4 rounded-lg font-semibold"><i class="fa-solid fa-file text-xl"></i>Currículum</button>
            <!-- <a matTooltipPosition="above" matTooltip="DEP Akira Toriyama" href="https://www.youtube.com/watch?v=vQbYvjmfbr4">
                <div class="flex justify-center items-center w-8 h-8 rounded-full bg-yellow-500">
                    <i class="fa-solid fa-star fa-2xs text-red-600"></i>
                </div>
            </a> -->
        </div>
    </div>
</section>
<hr class="border border-solid border-gray-300 dark:border-gray-600 rounded-md mt-4">
</header>