<h1 class="text-2xl text-white mt-10">Experiencia</h1>
<section class="flex flex-col gap-10 mt-6 ml-4">
    <div>
        <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-200">.Net Developer at <a href="">CFOTech</a>
        </h2>
        <p class="text-sm text-slate-400 mt-1 ml-1">Feb. 2024 - actualidad</p>
        <div class="ml-4">
            <ul class="list-disc flex flex-col gap-2 ml-5 text-slate-700 dark:text-gray-300 text-md mt-4">
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
            </ul>
        </div>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-200">.Net Developer at <a href="">Trasus</a>
        </h2>
        <p class="text-sm text-slate-400 mt-1 ml-1">Ene. 2023 - Feb. 2024</p>
        <div class="ml-4">
            <ul class="list-disc flex flex-col gap-2 ml-5 text-slate-700 dark:text-gray-300 text-md mt-4">
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
            </ul>
        </div>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-200">.Net Developer at <a href="">Kiltex</a>
        </h2>
        <p class="text-sm text-slate-400 mt-1 ml-1">Jul. 2020 - Dic. 2022</p>
        <div class="ml-4">
            <ul class="list-disc flex flex-col gap-2 ml-5 text-slate-700 dark:text-gray-300 text-md mt-4">
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
                <li>Desarrollo de software</li>
            </ul>
        </div>
    </div>
</section>