<h1 class="text-2xl text-white mt-10">Experiencia</h1>
<section class="flex flex-col gap-10 mt-6 ml-4">
    <div  class="">
        <div class="flex items-center gap-2">
            <span (click)="toggleExpansionCFO()" class="text-lg mr-2 text-slate-200 cursor-pointer">
                <i [ngClass]="expandedCFO ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></i>
            </span>
            <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-200">Desarrollador .NET at <a
                    href="https://www.linkedin.com/company/cfo-tech-latam/">CFOTech</a></h2>
            <p class="text-sm text-slate-400 mt-1 ml-1">Mar. 2024 - <span class="text-green-300">actualidad</span></p>
        </div>
        <div class="ml-4" *ngIf="expandedCFO">
            <ul class="list-disc flex flex-col gap-2 ml-5 text-slate-700 dark:text-gray-300 text-md mt-4">
                <li>Capacitación, mentoreo y acompañamiento al equipo acerca de nuevas tecnologías</li>
                <li>Migración de proyectos en Visual Basic, .Net Framework y Stored Procedures hacia .Net 6 y Entity Framework</li>
                <li>Desarrollo e implementación de caché utilizando el caché en memoria que ofrece .Net</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="flex items-center gap-2">
            <span (click)="toggleExpansionTrasus()" class="text-lg mr-2 text-slate-200 cursor-pointer">
                <i [ngClass]="expandedTrasus ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></i>
            </span>
            <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-200">Desarrollador .NET at <a
                    href="https://www.linkedin.com/company/trasusconsulting/">Trasus</a></h2>
            <p class="text-sm text-slate-400 mt-1 ml-1">Ene. 2023 - Feb. 2024</p>
        </div>
        <div class="ml-4" *ngIf="expandedTrasus">
            <ul class="list-disc flex flex-col gap-2 ml-5 text-slate-700 dark:text-gray-300 text-md mt-4">
                <li>Diseño y desarrollo de APIs basadas en arquitectura onion y clean code</li>
                <li>Diseño y desarrollo de servicios en segundo plano para ejecución de procesos en ciertos horarios o cargas masivas</li>
                <li>Diseño y desarrollo de caché utilizando redis caché para mejorar el rendimiento y garantizar disponibilidad de datos</li>
                <li>Desarrollo de seguridad en las APIs</li>
                <li>Mentoreo y apoyo a miembros junior</li>
                <li>Implementación de reportes en Excel y PDF para visualización de datos</li>
                <li>Implementación de QR para visualización de datos del usuario</li>
                <li>Migración y optimización tanto de Store Procedures como de proyectos en Java y .Net Framework hacia .Net 6 y Entity Framework</li>
                <li>Diseño y desarrollo de sistema de logueo para monitorizar fallas del sistema</li>
            </ul>
        </div>
    </div>
    <div>
        <div class="flex items-center gap-2">
            <span (click)="toggleExpansionKiltex()" class="text-lg mr-2 text-slate-200 cursor-pointer">
                <i [ngClass]="expandedKiltex ? 'fas fa-chevron-down' : 'fas fa-chevron-right'"></i>
            </span>
            <h2 class="text-lg font-semibold text-slate-700 dark:text-slate-200">Desarrollador .NET at <a
                    href="https://www.linkedin.com/company/kiltex/">Kiltex</a></h2>
            <p class="text-sm text-slate-400 mt-1 ml-1">Jul. 2020 - Dic. 2022</p>
        </div>
        <div class="ml-4" *ngIf="expandedKiltex">
            <ul class="list-disc flex flex-col gap-2 ml-5 text-slate-700 dark:text-gray-300 text-md mt-4">
                <li>Relevamiento y análisis de los requisitos de los proyectos con el cliente</li>
                <li>Desarrollo de APIs con arquitectura monolítica y patrón repositorio</li>
                <li>Desarrollo e implementación de autenticación y autorización, incluyendo gestión de roles con tokens JWT</li>
                <li>Integración de servicios externos como APIs y Web Services</li>
                <li>Implementación de AWS para el envio de mails y almacenamiento de archivos</li>
            </ul>
        </div>
    </div>

</section>